<!DOCTYPE html>
<html>

<head>
    <title>Informations</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/JS/messages.js"></script>
    <script src="/JS/communicateServer.js"></script>
    <script src="/JS/importCommon.js"></script>
</head>

<body onload="inizializingPage()">
    <div class="navbar" id="navbar"></div>

    <div class="content">
        <div class="card1">
            <h1>Information</h1>
            <p>Welcome at Info, Master</p>
            <button class="button" onclick="">Show the Infos</button>
        </div>

        <div class="card2">
            <h3>Output:</h3>
            <div id="output"></div>
        </div>
    </div>
    
    <div class="footer" id="footer"></div>
</body>

</html>