<!DOCTYPE html>
<html>

<head>
    <title>Informations</title>
    <script src="/JS/messages.js"></script>
</head>

<body>
    <div class="navbar">
        <a class="button" href="/server_test.html">Test Server</a>
        <a class="button" href="/">Home</a>
        <a class="button" href="/info.html">Informations</a>
        <a class="button-red" href="/shutdown.html">Shutdown</a>
    </div>

    <div class="content">
        <div class="card1">
            <h1>Information</h1>
            <p>Welcome at Info, Master</p>
            <button class="button" onclick="">Show the Infos</button>
        </div>

        <div class="card2">
            <h3>Output:</h3>
            <div id="output"></div>
        </div>
    </div>
</body>

</html>