@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(34, 34, 34);
    color: #fff;
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #fff;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}

.content {
    padding: 16px;
}

.card {
    background-color: rgb(51, 51, 51);
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
}

.button {
    background-color: #009999;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 8px;
}

.button:hover {
    background-color: #007d7d;
}

.button-red {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.button-red:hover {
    background-color: #e60000;
}

.output {
    margin-top: 16px;
}

.output p {
    margin: 8px 0;
}

.file-input-button {
    background-color: #009999;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.file-input-button:hover {
    background-color: #007d7d;
}

.file-input-button-label {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}

.file-input-button-label::before {
    content: 'Datei auswählen';
}
