<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="script.js"></script>
</head>

<body>
    <div class="navbar">
        <a class="button" href="/main.html">Test Server</a>
        <a class="button" href="/">Home</a>
        <a class="button" href="/pictures.html">Bilder</a>
        <a class="button" href="/movies.html">Videos</a>
        <a class="button-red" href="/shutdown.html">Shutdown</a>
    </div>

    <div class="content">
        <div class="card1">
            <h1>Home</h1>
            <p>Wel‚come at Home, Master</p>
            <button class="button" onclick="">Button</button>
        </div>

        <div class="card2">
            <h3>Output:</h3>
            <div id="output"></div>
        </div>
    </div>
</body>

</html>