<!DOCTYPE html>
<html>

<head>
    <title>Videos</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="script.js"></script>
</head>

<body>
    <div class="navbar">
        <a class="button" href="/main.html">Test Server</a>
        <a class="button" href="/">Home</a>
        <a class="button" href="/pictures.html">Bilder</a>
        <a class="button" href="/movies.html">Videos</a>
        <a class="button-red" href="/shutdown.html">Shutdown</a>
    </div>

    <div class="content">
        <div class="card1">
            <h1>Videos</h1>
            <p>Welcome at Movies, Master</p>
            <table>
                <tr>
                    <td><button class="button">Nach Ordner</button></td>
                    <td></td>
                    <td><button class="button">Nach Datum</button></td>
                </tr>
            </table>
        </div>

        <div class="card2">
            <h3>Output:</h3>
            <div id="output"></div>
        </div>
    </div>
</body>

</html>