@import url('https://fonts.googleapis.com/css?family=Segoe+UI, Arial, sans-serif');

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #414141;
    color: #fff;
}

.navbar {
    background-color: #FF8C00;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 16px;
    color: #fff;
    margin-bottom: 16px;
    border-radius: 3px;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: #464646;
    border-radius: 3px;
    max-width: 1120px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.card1 {
    flex-basis: calc(50% - 48px);
    background-color: #4b4b4b;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    color: #fff;
    margin-bottom: 16px;
    margin-left: 8px;
    margin-right: auto;
}

.card2 {
    flex-basis: calc(50% - 48px);
    background-color: #4b4b4b;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    color: #fff;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: 8px;
}

.card3 {
    flex-basis: calc(100% - 48px);
    background-color: #4b4b4b;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    color: #fff;
    margin-bottom: 16px;
    margin-left: 8px;
    margin-right: auto;
}

.button {
    background-color: #FF8C00;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #cc7000;
}

.button-red {
    background-color: #ff3b30;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-red:hover {
    background-color: #cc281d;
}

.output {
    margin-top: 8px;
}

.output p {
    margin: 4px 0;
}

.file-input-button {
    background-color: #FF8C00;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-input-button:hover {
    background-color: #cc7000;
}

/* Neues Styling für Bilder */

.preview-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 16px;
    border-radius: 3px;
}